html, body {height: 100%;}
body {display: flex;flex-direction: column;}
.content {flex: 1 0 auto;}
.footer {flex-shrink: 0;}
.work img{width: 64px;}
.jumbotron{
    background: url("/theme/images/jens-johnsson-qFYBki6u3Ik-unsplash.jpg") no-repeat center center;
    background-size: cover;
    background-blend-mode: lighten;
}
.featured h2 a{background: rgba(0, 0, 0, 0.75); padding: 0.04em 0.25em;}
.featured .carousel-caption {
    top: 0;
    bottom: auto;
}