{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}

{% block content %}
<section class="container">
    <article>
        <header>
            <h1 class="entry-title text-primary mt-5">{{ article.title }}
                {% if article.city %}<small><span class="text-muted">{{ article.city }}</span></small>{% endif %}
            </h1>
            <p class="lead">
                <span class="text-muted">Client:</span> {{ article.client }}
                <span class="float-right">{% include 'article_tags.html' %}</span>
            </p>
            <img src="{{ SITEURL }}/images/projects/{% if article.img %}{{ article.img }}{% else %}{{ DEFAULT_PROJECT_IMG }}{% endif %}"
                 alt="{{ article.title }}" class="img-fluid mb-3"/>
        </header>

        <div class="entry-content">
            <p class="lead">{{ article.role }}</p>
            {{ article.content }}
        </div><!-- /.entry-content -->

    </article>
</section>
{% endblock %}