<!doctype html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/united/bootstrap.min.css">
    <style>
        html, body {height: 100%;}
        body {display: flex;flex-direction: column;}
        .content {flex: 1 0 auto;}
        .footer {flex-shrink: 0;}
        .work img{width: 64px;}
        .jumbotron{
            background: url("{{ SITEURL }}/extra/{{ JUMBOTRON_IMAGE }}") no-repeat center center;
            background-size: cover;
            background-blend-mode: lighten;
        }
    </style>

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    {% for title, link in MENUITEMS %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link }}">{{ title }}</a>
                    </li>
                    {% endfor %}


                    {% if DISPLAY_PAGES_ON_MENU -%}
                    {% for pg in pages %}
                    <li class="nav-item {% if pg == page %}active{% endif %}">
                        <a class="nav-link" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}


                    {% if DISPLAY_CATEGORIES_ON_MENU -%}
                    {% for cat, null in categories %}
                    <li class="nav-item {% if cat == category %}active{% endif %}">
                        <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="content">
{% block content %}
{% endblock %}
</div>

{% if SOCIAL %}
<div class="bg-secondary social footer mt-3">
    <div class="container py-3">
        <div class="row">
            {% for icon, link in SOCIAL %}
            <div class="col-sm text-center">
                <span style="font-size: 4em;">
                    <a class="text-primary" href="{{ link }}"><i class="{{ icon }}"></i></a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/85e1cea446.js" crossorigin="anonymous"></script>
</body>
</html>