<article class="work my-5 col-sm-12">
    <div class="media">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ article.image }}" class="mr-3"
             alt="{{ article.title }}">
        <div class="media-body">
            <h1 class="mt-0">
                <a href="{{ article.url }}" target="_blank"">{{ article.title }}</a>
                <small class="text-muted">{{ article.city }}</small>
            </h1>
            <h2>{{ article.role }}</h2>
            <h5>
                {{ article.date.strftime('%b %Y') }} - {% if article.modified %}{{ article.modified.strftime('%b %Y')
                }}{% else %}Now{% endif %}
            </h5>
        </div>
    </div>
</article>
