<article class="work my-3 col-sm-12">
    <div class="media">
        <img src="{{ SITEURL }}/images/work/{{ article.image }}" class="mr-3"
             alt="{{ article.title }}">
        <div class="media-body">
            <h2 class="mt-0">
                <a href="{{ article.url }}" target="_blank"">{{ article.title }}</a>
                <small class="text-muted d-none d-md-inline">{{ article.city }}</small>
            </h2>
            <h2 class="d-md-none"><small class="text-muted">{{ article.city }}</small></h2>
            <h3>{{ article.role }}</h3>
            <h6>
                {{ article.date.strftime('%b %Y') }} - {% if article.modified %}{{ article.modified.strftime('%b %Y')
                }}{% else %}Present{% endif %}
            </h6>
        </div>
    </div>
</article>
